*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Times New Roman', Times, serif;
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}
body{
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}
header{
    background-color: white;
    display: flex;
    justify-content: space-between;
    position: sticky;
    z-index: 100;
    top: 0;
    padding: 20px 35px;
    margin-bottom: 35px;
    border-bottom: 0px solid rgb(245, 201, 230);
    box-shadow: 0px 0px 7px 0px #a8a5a8 ;
    width: 100%;
}
header div{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 30px;
    font-weight: bold;
}
.color_2{
    color: #ff00b3;
}
.color_1{
    font-weight: bold;
    color: #272323;
}
header nav ul{
    display: flex;
    gap: 45px;
    font-weight: bold;
    font-size: 23px;
}
.menutoggle{
    display: none;
    font-size: 20px;
    height: 25px;
    width: 25px;
    color: #726868;
    cursor: pointer;
}
.icons{
    display: flex;
    gap: 20px;
    color: #726868;
}

.image ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px;
    flex-wrap: wrap;
    margin-bottom: 40px;
}
.image ul .eshop:hover{
    transform: translateY(-10px);
    transition: 0.3s ease-in-out;
}
.habit{
    border: 25px solid white;
    background-color: white;
    border-bottom: none;
    box-shadow: 0px 5px 5px 5px rgba(214, 210, 210, 0.486);
    
}
.habit_1{
    border: 25px solid white;
    background-color:white;
    border-top: none;
    border-bottom: none;
    border-right: none;
    box-shadow: 0px 13px 5px 5px rgba(214, 210, 210, 0.486);
}
.habit li img{
    height: 450px;
}
.habit:hover img{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    transition: .3s ease-in-out;
}
.add{
    display: flex;
    justify-content: flex-end;
    margin-right: 0;
    
}
.button_add{
    padding: 18px 15px;
    border-radius: 12px 10px 0px 10px;
    font-size: 20px;
    background-color: #ff00b3;
    border-color: #f0f0f0;
    
}
.button_add:hover{
    cursor: pointer;
    color: #ff00b3;
    border-color: #f0f0f0;
}
.button_basket{
    padding: 10px 30px;
    background-color: deeppink;
    margin-top: 35px;
    margin-left: 35px;
    color: white;
    font-size: 20px;
    clip-path: polygon(15% 0, 0 100%, 85% 100%, 100% 0);
}
#nouveautés ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    overflow-x: auto;
    overflow-y: hidden;
    gap: 25px;
    margin: 30px 35px 0 35px;
    scrollbar-width: none;
}
#nouveautés ul li{
    border: none;
    background-color: #ece6e6de;
    text-align: center;
    position: relative;
}
#nouveautés ul li .button_basket{
    position: absolute;
    top: 95px;
    right: 50px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-130px);
    transition: all 0.5s ease;
    z-index: 1;
}
#nouveautés ul li img{
    height: 320px;
}
#nouveautés ul li .button_basket:hover{
    background-color: rgb(196, 7, 108);
    border: 1px solid #3f3939;
    cursor: pointer;
}
#nouveautés ul li:hover .button_basket{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}
#nouveautés ul li:hover{
    background-color: #c4bfbfc0;
    cursor: context-menu;
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
  
}
#nouveautés ul li:hover img{
    filter: blur(1px);
}
#produit{
    padding: 50px;
    position: relative;
}
#produit ::before{
    content: "";
    position: absolute;
    background-color: #ff00b3;
    height: 5px;
    width: 35%;
    top: 75px;
    left: 35px;
}
#produit ::after{
    content: "";
    position: absolute;
    background-color: #ff00b3;
    height: 5px;
    width: 35%;
    top: 75px;
    right: 35px;
}
.title_avis{
    font-size: 35px;
    text-align: center;
    padding: 45px;
    margin-top: 36px;
    position: relative;
}
.title_avis h4{
    margin-top: -14px;
    text-align: center;
}
.title_avis::before{
    content: "";
    position: absolute;
    background-color: #ff00b3;
    height: 5px;
    width: 30%;
    top: 60px;
    left: 45px;
}
.title_avis::after{
    content: "";
    position: absolute;
    background-color: #ff00b3;
    height: 5px;
    width: 30%;
    right: 45px;
    top: 60px;
}

.news_1{
    content: "";
    position: relative;
    text-align: center;
    font-size: 30px;
    margin-top: 36px;
}
.news_1 ::before{
    content: "";
    position: absolute;
    background-color: #ff00b3;
    height: 5px;
    width: 30%;
    left: 50px;
    top: 30px;
}
.news_1 ::after{
    content: "";
    position: absolute;
    background-color: #ff00b3;
    height: 5px;
    width:  30%;
    top: 30px;
    right: 50px;
}
.news_2{
    text-align: center;
    font-size: 30px;
    position: relative;
    margin-top: 36px;
}
header nav ul a{
    text-decoration: none;
    color: #3f3939;
}
header nav ul a:hover{
    color: #ff00b3;
}
section{
    display: flex;
    gap:  20px;
    padding: 0 20px;
    justify-content: flex-start;
}
.connect{
    border: 2px solid red;
    padding: 0px 5px;
}
.hero_section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    padding-bottom: 36px;
    width: 100%;
}
.hero_content{
    color:#2b2828;
    line-height: 1;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 5px;
    margin-left: 30px;
    margin-bottom: 70px;
    width: 50%;
} 

.hero_content p{
    font-size: 24px;
    margin-bottom: 0;
}
.hero_content h1{
    color: black;
    font-weight: bold;
    font-size: 80px; 
    display: flex;
    padding: 10px 0;
}
.hero_image{
    width: 50%;
}
.hero_image img{
    height: 450px;
}
.button{
    padding: 20px;
    margin-top: 30px;
    background-color: #ff00b3;
    color: white;
    transition: background-color 200ms, color 500ms;
    font-size: 22px;
    font-family: italic;
    width: 50%;
    clip-path: polygon(15% 0, 0 100%, 85% 100%, 100% 0);
    border: none;
    
}
.button:hover{
    color: white;
    background-color: #d429a1;
    cursor: pointer;
}
.button_1{
    font-size: 30px;
}
.button_1 ul{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    gap: 2px;
}

.color_c{
    color: white;
    text-decoration: none;
    font-size: 25px;
    margin-bottom: 20px;
}
.gallery-grid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    flex-wrap: nowrap;
    flex-direction: row;
    margin: 0 50px 50px 50px;
}
.gallery-grid .gallery-item{
    padding: 10px;
    text-align: center;
    border: 1px solid rgb(173, 161, 161);
    border-bottom: 5px solid deeppink;
    box-shadow: 0px 0px 10px 5px rgba(194, 192, 192, 0.733);
    width: 75%;
    gap: 0;
}
.gallery-grid .gallery-item:hover{
    transform: scale(1.05);
    transition: 300ms;
    cursor: pointer;
}
.gallery-grid .gallery-item img{
    border-radius: 50%;
    object-fit: cover;    
}
footer {
    display: flex;
    padding: 50px;
    gap: 150px;
    background-color: rgb(0, 0, 0);
    color: #ff00b3;
    font-size: medium;
    justify-content: space-between;
}
.footer{
    text-decoration: none;
    font-size: 20px;
}
.dedicasse{
    text-align: center;
    padding: 10px;
    font-size: 20px;
}

@media(max-width: 1030px){
    header {
        display: flex;
        justify-content: space-between;
        padding: 25px 35px;
        margin-bottom: 35px;
    }
    header nav ul {
        display: flex;
        gap: 35px;
        font-size: 19px;
    }
        .hero_content {
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
        }
    
        .hero_content p {
            font-size: 19px;
        }
    
        .hero_content h1 {
            font-size: 55px;
        }
    
        .hero_image img {
            height: 350px;
        }
        .button {
            font-size: 22px;
            font-family: italic;
            clip-path: polygon(15% 0, 0 100%, 85% 100%, 100% 0);

        }
        .hero_section {
            padding-bottom: 10px;
        }
        .news_1 {
            font-size: 20px;
        }
        .news_1 ::before {
            left: 50px;
            top: 25px;
        }
    
        .news_1 ::after {
            top: 25px;
            right: 50px;
        }
        #produit ::before {
            width: 32%;
            left: 50px;
        }
        #produit ::after{
            width: 32%;
            right: 50px;
        }
        .habit li img {
            height: 350px;
        }
        .button_add {
            padding: 15px 12px;
            font-size: 18px;
    
        }
        .habit {
            border-bottom: none;

        }

        .habit_1 {
            border-top: none;
        }
        .title_avis {
            font-size: 30px;
            margin-top: 55px;
        }
    
        .title_avis::before {
            height: 5px;
            width: 30%;
            top: 60px;
            left: 45px;
        }
    
        .title_avis::after {
            height: 5px;
            width: 30%;
            right: 45px;
            top: 60px;
        }
        .gallery-grid {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 20px;
            flex-wrap: nowrap;
            flex-direction: row;
            margin-left: 50px;
        }
        .gallery-grid .gallery-item p{
            font-size: 12px;
        }
}
@media(max-width: 850px){
    header nav ul {
        display: none;
    }
    .menutoggle{
        display: block;
    }
    .hero_content{
    width: 50%;
    }
    .hero_image{
        width: 50%;
    }
    .hero_content p {
        font-size: 15px;
    }

    .hero_content h1 {
        font-size: 45px;
    }

    .hero_image img {
        height: 300px;
    }
    .button {
        font-size: 18px;
        font-weight: bold;
        padding: 10px 20px;

    }
    .hero_section {
        padding-bottom: 10px;
        padding-top: 20px;
    }
    .news_1 {
        font-size: 20px;
    }
    .news_1 ::before {
        top: 20px;
        width: 27%;
    }

    .news_1 ::after {
        top: 20px;
        width: 27%;
    }
    #produit ::before {
        width: 30%;
        left: 50px;
    }
    #produit ::after{
        width: 30%;
        right: 50px;
    }
    #nouveautés ul li img {
        height: 300px;
    }
    .news_2{
        font-size: 28px;
    }
    .habit li img {
        height: 380px;
    }
    .button_add {
        padding: 16px 14px;
        font-size: 18px;

    }
    .habit {
        border-bottom: none;

    }

    .habit_1 {
        border-top: none;
    }
    .title_avis {
        font-size: 30px;
        margin-top: 55px;
    }

    .title_avis::before {
        height: 5px;
        width: 30%;
        left: 50px;
    }

    .title_avis::after {
        height: 5px;
        width: 30%;
        right: 50px;
    }
    .gallery-grid{
       display: flex;
       justify-content: space-between;
       align-items: center;
       gap: 20px;
       flex-wrap: nowrap;
       flex-direction: row;
       margin-left: 50px;
    }
    footer{
        display: flex;
        flex-wrap: wrap;
        gap: 50px;
        font-size: medium;

    }
}
@media(max-width: 640px){
    .hero_section{
        flex-direction: column;
        gap: 0;
    }
    .hero_content{
        width: 100%;
        margin-bottom: 0;
    }
    .hero_image{
        width: 100%;
        margin-left: 50px;
    }
    .hero_content p {
        font-size: 15px;
    }

    .hero_content h1 {
        font-size: 45px;
    }

    .hero_image img {
        height: 300px;
    }
    .button {
        font-size: 18px;
        font-weight: bold;
        padding: 10px 20px;

    }
    header div p {
        font-size: 24px;
    }
    .icons{
        gap: 10px;
        font-size: 18px;
    }
    .news_1 {
        font-size: 20px;
    }
    .news_1 ::before {
        top: 20px;
        left: 30px;
        height: 3px;
        width: 15%;
    }       
    .news_1 ::after {
        top: 20px;
        height: 3px;
        right: 30px;
        width: 15%;
    }
    #produit ::before {
        width: 15%;
        height: 3px;
        left: 45px;
    }

    #produit ::after {
        width: 15%;
        height: 3px;
        right: 45px;
    }
    #nouveautés ul{
        padding: 0 20px;
    }
    #nouveautés ul li img {
        height: 310px;
    }
    .news_2{
        font-size: 25px;
    }
    .habit li img {
        height: 350px;
    }
    .button_add {
        padding: 14px 12px;
        font-size: 16px;

    }
    .habit {
        border-bottom: none;

    }

    .habit_1 {
        border-top: none;
    }
    .title_avis {
        font-size: 26px;
        margin-top: 45px;
    }

    .title_avis::before {
        height: 3px;
        width: 15%;
        left: 45px;
    }

    .title_avis::after {
        height: 3px;
        width: 15%;
        right: 45px;
    }
    .gallery-grid{
        display: flex;
        flex: none;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow-x: auto;
        gap: 15px;
        margin-left: 20px;
    }
    .gallery-item{
        width: 250px;
    }
    footer{
        display: flex;
        flex-direction: column;
        gap: 30px;
        font-size: medium;

    }
}